.shopping-cart-title-span {
    font: normal normal 600 40px/35px Source Serif Pro;
}

.shopping-cart-title {
    margin: 30px 35% 50px 35%;
}

.shopping-cart-sub-container{
    height: max-content
}
