.added-item-cart-container{
    width: 800px;
}
.added-cart-item-span {
    font: normal normal 600 16px/18px Muli;
    height: 20px;
}

.added-cart-product-img {
    width: 90px;
    height: 150px;
    margin: 10px 10px 10px 15px;
}

.added-cart-product {
    width: 130px;
    height: 199px;
    border: aliceblue 1px solid;
    margin-bottom: 30px;
}