.header-container {
    height: 80px;
    border-bottom: #eceeef 3px solid;

    /* UI Properties */
    font: normal normal 600 16px/24px Muli;
    color: #1B252C;
    opacity: 1;
}

.venia-logo {
    margin-top: 25px;
    width: 112px;
    height: 48px;
}

.list-class {
    display: inline;
    margin-right: 32px;
}

.menu-class {
    margin-top: 28px;
}

.list-class-women {
    display: inline;
    margin-right: 32px;
    margin-left: 100px;
}