.header-container {
    height: 5rem;
    border-bottom: #eceeef 0.188rem solid;

    /* UI Properties */
    font: normal normal 600 1rem/1.25rem Muli;
    color: #1B252C;
    opacity: 1;
}

.venia-logo {
    margin-top: 10%;
    width: 60%;
    height: 3.438rem;
}

.list-class {
    display: inline;
    margin-right: 2rem;
}

.menu-class {
    margin-top: 1.75rem;
}

.list-class-women {
    display: inline;
    margin-right: 2rem;
    margin-left: 6.25rem;
}